.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

/* Main code */

.circle-loading {
  width: 10rem;
  height: 10rem;
  border-radius: 15rem;
  position: relative;
  margin: 0 auto;
}
.circle-loading:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  border: 1rem solid white;
  border-right-color: var(--secondary);
  border-bottom-color: var(--secondary);
  animation: circleLoading 1s forwards infinite linear;
}
@keyframes circleLoading {
  to {
    transform: rotate(360deg);
  }
}

/* Main code */
.text-field {
  position: relative;
  padding-bottom: 15px;
}
.text-field label {
  display: inline-block;
  color: #333;
  font-weight: 600;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 10px;
  background-color: white;
  padding: 1px 5px;
  font-size: 12px;
  transform: translateY(-50%);
  color: #6a5af9;
}
.text-field input {
  padding: 15px;
  display: block;
  width: 100%;
  color: #999;
  font-size: 14px;
  border: 1px solid #6a5af9;
  border-radius: 4px;
}
.btn-register {
  display: flex;
  padding-left: 15px;
}
.form-group {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-group button {
  padding: 15px;
  display: block;
  width: 100px;
  height: 50px;
  color: #6a5af9;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}
